@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
body {
    background-color: rgb(70, 101, 107);
    color:rgb(203, 255, 246);
    font-family: Lexend, Georgia, 'Times New Roman', Times, serif;
    text-align:right;
    
}
#title{
    animation: intro 10s ease-in-out;

}
img{
    width: 100vvw;
    height: auto;
}
@keyframes intro {
0%{
    opacity: 0;
    transform: translateY(-20px);
}
100%{
    opacity: 1;
    transform: translate(0);
}
    
}